export(pannet)
export(pannet_simulate)
export(pannet_benchmark)
export(pannet_forecast)
export(pannet_debias)
export(individual_effects)
export(time_effects)
export(marginal_effects)
export(marginal_effects.pannet)
export(training_history)

S3method(print,     pannet)
S3method(summary,   pannet)
S3method(print,     summary.pannet)
S3method(predict,   pannet)
S3method(fitted,    pannet)
S3method(residuals, pannet)
S3method(plot,      pannet)
S3method(training_history,  pannet)
S3method(marginal_effects,  pannet)
S3method(individual_effects, pannet)
S3method(time_effects,       pannet)

importFrom(stats, coef, delete.response, model.frame, model.matrix,
           model.response, na.pass, predict, terms, update)
importFrom(utils, tail)
